@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background-color:#DDE1D4; */
    width: 100%;
    height: 100vh;
    font-size: 3vw;
    display: grid;
    grid-template-rows: 1fr 22fr 1fr;
    grid-template-columns: 1fr 8fr 8fr 1fr;
    background-color: white;
    text-align: center;
}
header {
    grid-column: span 4;
    grid-row: span 1;
    background-color: #838abe;
    
}
section {

    grid-column: span 1;
    grid-row:span 1;
    background-color: e2d9df;
    background-size: cover;
    width: 100%;
    height: 100%;
    font-size:100px;
    color: white;
}
div {
    background-color: #e3c8cf;
    grid-row: span 1;
    grid-column: 1;
    writing-mode: vertical-rl;
    text-orientation: upright;
}
nav {
    background-color: #798090;
    grid-row: span 1;
    grid-column: span 1;
    writing-mode: vertical-rl;
    text-orientation: upright;
}
a {
    background-color: #867ead;
    grid-column: span 4;
    grid-row: span 1;
    
}

p {
    margin: 5px;
    background-color: violet;
}

