@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    width: 100%;
    height: 100vh;
}

.letter-left {
    display: grid;
    grid-template-rows: 4fr 1fr 3fr;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}
.content {
    grid-row: span 1;
}
.content div:first-child {
    padding: 10px;
    font-size: 18px;
}
.content-letter {
    padding-left: 10px;
    font-size: 25px;
}
.menu {
    width: 100%;
    height: 60%;
}
.menu th {
    text-align: start;
}
.information {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-row: span 1;
    font-size: 15px;
}
.english:hover,.korean:hover {
    font-weight: 800;
}
.letter-right {
    display: grid;
    grid-template-rows: 4fr 1fr;
}
.letter-right-top {
    grid-row: span 1;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
.letter-right-top div:first-child {
    padding: 10px;
    font-size: 18px;
}
.letter-right-top div:nth-child(2) {
    padding-left: 10px;
    font-size: 30px;
}
.letter-right-top div:nth-child(3),div:nth-child(4) {
    padding: 10px;
}
.letter-right-bottom {
    grid-row: span 1;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}
.letter-right-bottom div:first-child {
    padding: 10px;
    font-size: 18px;
}
.letter-right-bottom div:last-child {
    padding: 10px;
    font-size: 25px;
}

.pictures {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 4fr 1fr;
    border: 2px solid black;
}
.picture-left {
    grid-column: span 1;
    background-image: url(img/sofa1.jpeg);
    background-size: cover;
}

.picture-right {
    grid-column: span 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    border-left: 2px solid black;
}
.picture-right-top {
    grid-column: span 3;
    background-image: url(img/office1.jpeg);
    background-size: cover;
    border-bottom: 2px solid black;
}
.picture-right-mid{
    display: grid;
    grid-column: span 3;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    background-size: cover;
}
.picture-right-mid-left{
    grid-column: span 2;
    grid-row: span 2;
    background-image: url(img/flowerpot.jpeg);
    background-size: cover;
    
}
.picture-right-mid-right{
    display: grid;
    grid-row: span 2;
    grid-template-rows: repeat(2,1fr);
}
.picture-right-mid-right section:first-child {
    grid-row: span 1;
    background-image: url(img/waterbottle.jpeg);
    background-size: cover;
    border-left: 2px solid black;
}
.picture-right-mid-right section:last-child {
    grid-row: span 1;
    background-image: url(img/jagi.jpeg);
    background-size: cover;
    border-top: 2px solid black;
    border-left: 2px solid black;
}
.picture-right-bot {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.picture-right-bot section:first-child {
    grid-column: span 1;
    background-image: url(img/chair.png);
    background-size: cover;
    border-top: 2px solid black;
}
.picture-right-bot section:last-child {
    grid-column: span 1;
    background-image: url(img/office2.jpeg);
    background-size: cover;
    border-top: 2px solid black;
    border-left: 2px solid black;
}
.picture-footer {
    display: grid;
    grid-column: span 2;
    grid-template-columns: repeat(5, 1fr);
}
.picture-footer section:nth-child(1) {
    grid-column: span 1;
    background-image: url(img/writing.jpeg);
    background-size: cover;
    border-top: 2px solid black;
}
.picture-footer section:nth-child(2) {
    grid-column: span 1;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    
}
.picture-footer-child2 section:first-child {
    grid-row: span 1;
    background-image: url(img/callingcard.jpeg);
    background-size: cover;
    border-left: 2px solid black;
}
.picture-footer-child2 section:last-child {
    grid-row: span 1;
    background-image: url(img/meeting.jpeg);
    background-size: cover;
    border-top: 2px solid black;
    border-left: 2px solid black;
}
.picture-footer section:nth-child(3) {
    grid-column: span 3;
    background-image: url(img/blueprint.jpeg);
    background-size: cover;
    border-top: 2px solid black;
    border-left: 2px solid black;
}
