@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    font-family: "DM Serif Display", monospace;
    padding: 45px;
    height: 100vh;
    text-align: center;
}

header {
    display: grid;
    grid-template-columns: 60% 40%;

}

.left {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color:skyblue;
}
 .left-horizontal {
     display: grid;
    grid-template-columns: 1fr 17fr 6fr;
    border: 2px solid white;
 }
 .title {
    writing-mode: vertical-rl;
    text-orientation:sideways;
    border-right: 2px solid white;
 }
 .name {
     border-right: 2px solid white;
 }
 .sectors {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
 }

 .right {

     display: grid;
     grid-template-columns: 1fr 11fr;
 }

 .mid-line {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items:center;
     writing-mode: vertical-rl;
     text-orientation:sideways-right;
     /* text-orientation: mixed; */
 }
 .mid-line div:nth-child(1) {
     background-color: cornflowerblue;
     
 }
 .mid-line div:nth-child(2) {
    text-orientation: sideways-right;
     background-color: purple;
 }
 section {
    background-color: green;
    display: grid;
    grid-template-rows: 1fr 11fr;
    grid-template-columns: 1fr 1fr;
 }

 ul {
    list-style: none;
 }
 h1 {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     grid-column-start: span 2;
 }